[submodule "section8/nft_market/lib/forge-std"]
	path = section8/nft_market/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section8/nft_market/lib/openzeppelin-contracts"]
	path = section8/nft_market/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section11/nft_market_v2/lib/forge-std"]
	path = section11/nft_market_v2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section11/nft_market_v2/lib/openzeppelin-contracts"]
	path = section11/nft_market_v2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section16/stake/lib/forge-std"]
	path = section16/stake/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section16/stake/lib/openzeppelin-contracts"]
	path = section16/stake/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section16/ido/lib/forge-std"]
	path = section16/ido/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section16/defi/lib/forge-std"]
	path = section16/defi/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section16/defi/lib/openzeppelin-contracts"]
	path = section16/defi/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section17/storage/lib/forge-std"]
	path = section17/storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section18/upgreadable/lib/forge-std"]
	path = section18/upgreadable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section18/upgreadable/lib/openzeppelin-contracts"]
	path = section18/upgreadable/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section18/upgreadable/lib/openzeppelin-foundry-upgrades"]
	path = section18/upgreadable/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "section18/upgreadable/lib/openzeppelin-contracts-upgradeable"]
	path = section18/upgreadable/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "section20/loan/lib/openzeppelin-contracts"]
	path = section20/loan/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section20/loan_proto/lib/forge-std"]
	path = section20/loan_proto/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section19/dex/lib/forge-std"]
	path = section19/dex/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section22/wallet/lib/forge-std"]
	path = section22/wallet/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section22/wallet/lib/openzeppelin-contracts"]
	path = section22/wallet/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section23/gas_optimize/lib/forge-std"]
	path = section23/gas_optimize/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
