[submodule "section8/nft_market/lib/forge-std"]
	path = section8/nft_market/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section8/nft_market/lib/openzeppelin-contracts"]
	path = section8/nft_market/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section11/nft_market_v2/lib/forge-std"]
	path = section11/nft_market_v2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section11/nft_market_v2/lib/openzeppelin-contracts"]
	path = section11/nft_market_v2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "section16/stake/lib/forge-std"]
	path = section16/stake/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section16/stake/lib/openzeppelin-contracts"]
	path = section16/stake/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
